@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans+Condensed:ital,wght@0,100..900;1,100..900&family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Remote Cursors */
.remote-cursor-line {
  background: rgba(255, 204, 0, 0.1);
}

.remote-cursor-glyph {
  background: #ffcc00;
  width: 4px !important;
  margin-left: 3px;
}

.remote-cursor-position {
  background: rgba(255, 204, 0, 0.4);
  border-left: 2px solid #ffcc00;
}

.cursor-label {
  background: #ffcc00;
  color: black;
  padding: 2px 4px;
  margin-left: 4px;
  font-size: 10px;
  border-radius: 3px;
  font-weight: bold;
}

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-display: 'IBM Plex Sans', sans-serif;
  --font-condensed: 'IBM Plex Sans Condensed', sans-serif;

  --color-session-green: #00FF22;
  --color-session-dark: #1c1c1c;

  --animate-marquee: marquee 10s linear infinite;
  --animate-border-rotate: border-rotate 4s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes border-rotate {
    from {
      --border-angle: 0deg;
    }

    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}